@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    width: 100%;
    min-height: 100vh;
    color: #484848;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100px;
        width: 400px;
        height: 400px;
        background: url(../assets/flor-lilas.png) center no-repeat;
        background-size: contain;
        transform: rotate(120deg);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -100px;
        width: 400px;
        height: 400px;
        background: url(../assets/flor-lilas.png) center no-repeat;
        background-size: contain;
        transform: rotate(-60deg);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        #bem-vindos {
            font-family: "Sigmar", sans-serif;
            font-size: 1.4rem;
            text-align: center;
            font-weight: bold;
            color: #484848;
        }

        #nome {
            font-family: "Alex Brush", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 4rem;
            color: #6f0081;
        }

        form {

            .btn-success{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }

        }
    }
}